{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.genreId) }}
        </div>
    </div>

    <button class="btn btn-success">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
